.main-image {
    position: relative;
}

.main-image {
    overflow: hidden;
    width: 33%;
    float: left;
    margin-right: 1rem;
    margin-bottom: .75rem;
    border-radius: 5px;
}

@media screen and (max-width: 1260px) {
    .main-image {
        margin-top: 0.25rem;
    }
}